<section class="white-bg">
    <h2>Add new hotel</h2>
    <form [formGroup]="hotelForm" (ngSubmit)="onSubmit()">
        <div>

            <label>Hotel name:</label>
            <input type="text" id="hotel" formControlName="name" placeholder="Hotel name" matTooltip="Име на хотела"
            matTooltipPosition="right" />
            <mat-error *ngIf="hotelForm.get('name')?.touched && hotelForm.get('name')?.hasError('required')">
                Name is required.
            </mat-error>
            
        </div>
            <div>

                
                <label>City:</label>
                <input type="text" id="city" formControlName="city" placeholder="City" matTooltip="Адрес"
                matTooltipPosition="right" />
                <mat-error *ngIf="hotelForm.get('city')?.touched && hotelForm.get('city')?.hasError('required')">
                    City is required.
                </mat-error>
            </div>


        <div>

            
            <label>Free rooms:</label>
            <input type="number" id="free-rooms" formControlName="rooms" placeholder="Free rooms" matTooltip="Стаи"
            matTooltipPosition="right" />
            <mat-error *ngIf="hotelForm.get('rooms')?.touched && hotelForm.get('rooms')?.hasError('required')">
                Rooms are required.
            </mat-error>
        </div>


        <div>

            
            <label>Price:</label>
            <input type="number" formControlName="price" placeholder="Price" matTooltip="цена на стая"
            matTooltipPosition="right" />
            <mat-error *ngIf="hotelForm.get('price')?.touched && hotelForm.get('price')?.hasError('required')">
                Price is required.
            </mat-error>
        </div>


        <div>

            
            <label>Stars:</label>
            <input type="number" formControlName="stars" placeholder="Price" matTooltip="звезди"
            matTooltipPosition="right" />
            <mat-error *ngIf="hotelForm.get('stars')?.touched && hotelForm.get('stars')?.hasError('required')">
                Stars are required.
            </mat-error>
        </div>


        <div>

            
            <label>Image:</label>
            <input type="text" formControlName="image" placeholder="https://" matTooltip="Снимка"
            matTooltipPosition="right" />
            <mat-error *ngIf="hotelForm.get('image')?.touched && hotelForm.get('image')?.hasError('required')">
                An image is required.
            </mat-error>
        </div>

        <input type="submit" class="create" value="Add" [disabled]="!hotelForm.valid" />
    </form>
</section>